Repository CowDogMoo/ansible-collection-workstation, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/changelogs, area/meta, area/roles, area/magefiles, area/galaxy

Add release action
  .github/workflows/release.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook ansible/ansible-lint to v6.20.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: area/pre-commit

Add windows and linux playbooks
  .github/workflows/pre-commit.yaml
  .gitignore
  .hooks/linters/.ansible-lint
  .hooks/linters/.yaml-lint.yaml
  .pre-commit-config.yaml
  README.md
  ansible.cfg
  hosts
  nix.yml
  requirements.yml
  roles/windows/tasks/main.yml
  roles/windows/vars/main.yml
  windows.yml
  workstation.yml
Labels: area/github, area/pre-commit, area/readme, area/roles

Add chocolatey and gsudo
  README.md
  roles/windows/tasks/main.yml
  roles/windows/vars/main.yml
Labels: area/readme, area/roles

Linting with pre-commit
  .github/workflows/pre-commit.yaml
  .gitignore
  .hooks/linters/.ansible-lint
  .hooks/linters/.yaml-lint.yaml
  .pre-commit-config.yaml
  README.md
  nix.yml
  requirements.yml
  roles/windows/vars/main.yml
  windows.yml
  workstation.yml
Labels: area/github, area/pre-commit, area/readme, area/roles

Add instructions to run ansible from remote system
  README.md
  group_vars/cowdogmoo/cowdogmoo.yml
Labels: area/readme

Linting
  README.md
  nix.yml
Labels: area/readme

Working linux playbook
  README.md
  nix.yml
  windows-requirements.yml
  workstation.yml
Labels: area/readme

Add linux group_vars
  group_vars/linux/linux.yml
  nix.yml
Labels: none

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/license:
  - "LICENSE"

area/readme:
  - "README.md"

area/changelogs:
  - "changelogs/**/*"

area/meta:
  - "meta/**/*"

area/roles:
  - "roles/**/*"

area/magefiles:
  - "magefiles/**/*"

area/galaxy:
  - "galaxy.yml"
